<!DOCTYPE html>
<html>
  <head>
    <title>My Node.js App</title>
  </head>
  <body>
    <h3>Movie_id : <%= data.movie_id %> </h3>
    <h3>Movie Name : <%= data.movie_name %> </h3>
    <p>Movie Language : <%= data.movie_language %> </p>
    <p>Movie Hour: <%= data.movie_hour %></p>
    <p>Genre : <%= data.genre %></p>
      
  </body>
</html>
